
body {
    
    --colab-border-color: #000;
    --colab-primary-surface-color:black;
}
.editor.flex.lazy-editor {
    background:rgb(0, 0, 0);
    
}
.monaco-editor {
    --vscode-editor-background:rgb(0, 0, 0);
}

.margin-view-overlays {
    background:rgb(0, 0, 0);
}
.inputarea.horizontal.layout.code {
    background:rgb(0, 0, 0);
    
}
.monaco-vim-statusbar {
    background:rgb(27, 27, 27);
}
/*
#run-button {
    background:rgba(0, 0, 0, 0);
    
}*/
.cell-gutter {
    background:rgb(0, 0, 0);
    
}

.cell-execution-container {
    background:rgba(25, 0, 0);
}

.code.focused:not(.cell-ui-refresh) .cell-gutter {
    background: #1f0707;
}
.notebook-content {
     
    background:rgba(0, 0, 0, 0);
   
}
/*
.notebook-container{
    background:rgba(0, 0, 0, 0.95);
    
}*/
.notebook-cell-list {
    background:rgba(255, 255, 255, 0);
    
}
#top-toolbar {
    background:rgba(0, 0, 0);
    
}

.overflow-flexbox-workaround {
    background-image: url("https://github.com/AgustinBustos/dotfiles2/blob/main/Wallpapers/wallhaven-jxprdq_1366x768393.png?raw=true");
    
}

.left-pane-top{
    background:rgb(0, 0, 0);
    
}
.status-bar-ui-refresh {
    background:rgb(0, 0, 0);
    
}

